@font-face {
    font-family: 'nanumpen';
    src: url(../font/NanumPenScript-Regular.ttf) format(truetype);
}

.header .main {
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

.main > a{
    text-decoration: none;
    color:black;
}

.nav {
    width: 95%;
    height: 10%;
    margin:0 auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.nav .menu_list{
    margin-top:20px;
    text-align: center;
}

.menu_item {
    display: inline-block;
    font-size: 1.3em;
    margin: 0 80px;
}

.nav>hr {
    position: relative;
    margin-top: 60px; 
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    border-top: 2px solid #C4BEA4; 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.9); 
}

.main-title {
    font-size: 30px;
    color: #181818;
    text-align: center; 
}

.footer-left{
    background-color: #FDF3DA;
    
    
     margin-left: 100px;
    margin-right: 100px;
}

.footer-link{
    background-color: #FDF3DA;
    color: #10222E;
    color: #10222E;
    font-family: 'nanumpen';
    font-size: 1.5em;
    font-weight: bold;
}

.footer-right {
    width: 50px;
    margin-right: 100px;
    background-color: #FDF3DA;
}